{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<div class="text-center">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
    <div id="signinButton">
      <span class="g-signin"
        data-scope="openid email"
        data-clientid="716736998642-t1mros3liodaelo4cle92m6nucodltge.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
    </div>
    <div id="result"></div>
    <button>
      <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
        <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
      </fb:login-button>
    </button>
  </form>
</div>
<script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');
      $.ajax({
        type: 'POST',
        url: '/googleconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
            window.location.href = "/catalog";
            }, 4000);
          }
          else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          }
          else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  }
</script>
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '141495933312218',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
       } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    });
  });
}
</script>
{%endblock%}
